@model IEnumerable<Question_Entity>
@{
    ViewData["Title"] = "Fetching Questions";
}
<html>
    <body>
    <h1>Take your Text</h1>
    @foreach (var question in Model)
{
    <div>
        <p>@question.Question</p>
        <ul>
            <li>
                    <input type="radio" id="@question.Option1" name="@question.Question" value="@question.Option1">
                    <label for="@question.Option1">@question.Option1</label>

            </li>
            <li>
                    <input type="radio" id="@question.Option2" name="@question.Question" value="@question.Option2">
                <label for="@question.Option2">@question.Option2</label>
            </li>
            <li>
                    <input type="radio" id="@question.Option3" name="@question.Question" value="@question.Option3">
                    <label for="@question.Option3">@question.Option3</label>

            </li>
            <li>

            
                    <input type="radio" id="@question.Option4" name="@question.Question" value="@question.Option4">
                <label for="@question.Option4">@question.Option4</label>
                </li>
        </ul>
        <p>Answer: @question.Answer</p>
    </div>
}

    </body>
</html>
@section script {
    <script>
        var radios = document.querySelectorAll('input[type=radio]');
        for (var i= 0, i<radios.length; i++){
            radios[i].addEventListener('click', function(){
                var answer = this.closest('div').querySelector('.answer');
                answer.style.display = 'block';
            })
        }
    </script>
}

