@using System.Data
@model DataTable

@{
    ViewData["Title"] = "Fetching Questins";
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Question")</th>
            <th>@Html.DisplayName("Option1")</th>
            <th>@Html.DisplayName("Option2")</th>
            <th>@Html.DisplayName("Option3")</th>
            <th>@Html.DisplayName("Option4")</th>
            <th>@Html.DisplayName("Answer")</th>
            
        </tr>
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                <td>@row["question"]</td>
                <td>@row["Option1"]</td>
                <td>@row["Option2"]</td>
                <td>@row["Option3"]</td>
                <td>@row["Option4"]</td>
                <td>@row["Answer"]</td>
                </tr>
            }
        </tbody>
    </thead>
</table>